*{
    margin: 0;
    box-sizing: border-box;
}
ul {
    float:right;
    margin: 30px 60px;
}
 li {
     display:inline-block;
     padding: 20px 30px;
     font-size: 30;
    
 }
 h1 {
     border-color: red;
     width: 50;
 }